# App
PORT=3000
NODE_ENV=development

# Master Auth (Fallback if DB is empty)
MASTER_API_KEY=notif_sec_master_key_12345

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/notifier?schema=public"

# Email Provider Configuration (SMTP / Resend)
DEFAULT_EMAIL_PROVIDER=RESEND
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
SMTP_FROM="Notifier <no-reply@example.com>"

RESEND_API_KEY=
RESEND_FROM="Notifier <onboarding@resend.dev>"

# Telegram Provider Configuration
TELEGRAM_BOT_TOKEN=

# WhatsApp Provider Configuration (FONNTE / TWILIO)
DEFAULT_WHATSAPP_PROVIDER=FONNTE
FONNTE_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Firebase Cloud Messaging (Push)
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
